:root {
  --btn-bg-color: #e7e7e7;
  --btn-selected-bg-color: #b0b0b0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Varela Round', sans-serif;
}

p {
  margin: 0;
}

.main-content {
  max-width: 300px;
  margin: 0 auto;
}

.display {
  height: 75px;
}

.display p {
  height: 50%;
  text-align: right;
}

.calculator-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 3px;
  column-gap: 3px;
}

.btn {
  border: none;
  background-color: var(--btn-bg-color);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.25rem;
  height: 40px;
}
